<?xml version="1.0" encoding="UTF-8"?>
<config>

	<modules>
		<Aoe_StaticDemo>
			<active>true</active>
			<codePool>local</codePool>
			<version>0.0.1</version>
		</Aoe_StaticDemo>
	</modules>
	
	<frontend>
		<layout>
			<updates>
				<aoestaticdemo>
					<file>aoestaticdemo/aoestaticdemo.xml</file>
				</aoestaticdemo>
			</updates>
		</layout>
	</frontend>
	
</config>